<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prith.groupjam">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinGroup"
            android:label="@string/title_activity_join_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateGroup"
            android:label="@string/title_activity_create_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupForAdmin"
            android:label="@string/title_activity_group_for_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupForNormals"
            android:label="@string/title_activity_group_for_normals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EnterGroupCode"
            android:label="@string/title_activity_enter_group_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>